:host {
  display: block;
}

.sc-demo-page nat-table-surface {
  display: block;
  width: min(600px, 100%);
  min-width: 0;
  max-width: 100%;

  --nat-table-region-overflow-x: visible;
  --nat-table-region-overflow-y: visible;

  @media (width <= 820px) {
    --nat-table-sticky-top: 60px;
  }
}
