@if (controller()?.enableGlobalFilter()) { @if (toolbar()) {
<div class="table-search">
  @if (showLabel()) {
  <label [attr.for]="inputId" class="table-search-label">{{ label() }}</label>
  }
  <input
    [attr.aria-controls]="tableElementId()"
    [attr.aria-label]="showLabel() ? null : label()"
    [id]="inputId"
    [placeholder]="placeholder()"
    [value]="value()"
    class="table-search-input table-search-input--toolbar"
    natToolbarItem
    type="search"
    (input)="onInput($event)" />
</div>
} @else {
<div class="table-search">
  <label [attr.for]="inputId" class="table-search-label">{{ label() }}</label>
  <input
    [attr.aria-controls]="tableElementId()"
    [id]="inputId"
    [placeholder]="placeholder()"
    [value]="value()"
    class="table-search-input"
    type="search"
    (input)="onInput($event)" />
</div>
} }
