@if (controller()?.enableGlobalFilter()) { @if (toolbar()) {
<input
  [attr.aria-label]="label()"
  [placeholder]="placeholder()"
  [value]="value()"
  class="table-search-input table-search-input--toolbar"
  natToolbarItem
  type="search"
  (input)="onInput($event)" />
} @else {
<div class="table-search">
  <label [attr.for]="inputId" class="table-search-label">{{ label() }}</label>
  <input
    [attr.aria-controls]="tableElementId()"
    [id]="inputId"
    [placeholder]="placeholder()"
    [value]="value()"
    class="table-search-input"
    type="search"
    (input)="onInput($event)" />
</div>
} }
